body {
    display: flex;
    justify-content: center;
    
}

.container {
    display: flex;
    max-width: 32px;
    max-height: 32px;
    flex-wrap: wrap;
      
}

#inGrid {
    border: 1px solid black;
    width: 14px;
    height: 14px;
    text-align: center;
    font-size: 10px;
    margin: -0.5px;
}

